<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <div class="container">
    <h1>My Bookshelf</h1>
    <h3>Welcome, <%= user.userName  %></h3>
    <h2>Books Currently Reading</h2>
    <ul>
    <% todos.forEach( el => { %>
            <li class='todoItem' data-id='<%=el._id%>'>
                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                <span class='del'> Delete </span>
            </li>
    <% }) %>    
    </ul>

    <h2><%= user.userName %> has <%= left %> book(s) left to read.</h2>

    <form action="/todos/createTodo" method='POST'>
        <input type="text" placeholder="Enter Book Title" name='todoItem'>
        <input type="submit">
    </form>

    <h2>Books Completed Reading</h2>
    <ul>
    <% todos.forEach( el => { %>
            <li class='todoItem' data-id='<%=el._id%>'>
                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                <span class='del'> Delete </span>
            </li>
    <% }) %>    
    </ul>

    <li><a class="btn btn-outline-dark me-2" href="/logout" !important>Logout</a>

    </div>
    
    <!-- <a href="/logout">Logout</a> -->

    <script src="js/main.js"></script>
</body>
</html>